.chapter {
    &.debug {
        background-color: rgba(yellow, .2) !important;
        padding: .5rem;

        position: relative;

        &::before {
            content: "chapter";
            position: absolute;
            right: 1rem;
        }
    }
}
