.step {
    &.debug {
        background-color: rgba(orange, .2) !important;
        padding: .5rem;

        position: relative;

        &::before {
            content: "step";
            position: absolute;
            right: 1rem;
        }
    }
}
