.fieldtype {
    &.debug {
        background-color: rgba($warning, .3) !important;
        padding: .5rem;
        border-radius: $border-radius;
    }

    label.required,
    .label.required {
        &::after{
            content: "*";
        }
    }
}
